@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap");
body {
  /* font-family: "Roboto Condensed", sans-serif; */
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  margin: 0;
  background-color: #eee;
  height: auto;
}
h1 {
  font-weight: 300;
  /* font-size: 2.5rem; */
  font-size: 2rem;
  text-transform: uppercase;
  margin: 0;
}
h2 {
  font-weight: 300;
  /* font-size: 1.2rem; */
  font-size: 1rem;
  /* text-transform: capitalize; */
  margin: 0;
}
img {
  display: block;
  width: 100%;
}
main {
  max-width: 900px;
  margin: auto;
  box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1),
    -30px 0px 40px rgba(0, 0, 0, 0.1);
}
.landing {
  background-color: #fff;
}
.landing-text {
  display: flex;
  /* flex: 0 1 40vw; */
  height: 50vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: auto 1rem;
}
.landing-text-inner {
  padding: 3rem;
}
.landing-text h2 {
  color: #888;
}
#landing-image {
  background: url("https://images.unsplash.com/photo-1476842321362-f5bb3a58ab25?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80")
    no-repeat center/cover;
  height: 50vh;
}
.btn {
  padding: 0.5rem 2rem;
  border: 1px #ccc solid;
  display: inline-block;
  margin-top: 2rem;
  border-radius: 25px;
  text-decoration: none;
  color: #333;
  transition: background 0.5s ease;
}
.btn:hover {
  background-color: #f4f4f4;
}
#header {
  padding: 1.5rem;
  text-align: center;
  background: #333;
  color: #ddd;
}
#header h2 {
  border-left: rgb(190, 190, 190) solid 1px;
  border-right: rgb(190, 190, 190) solid 1px;
  display: inline-block;
  padding-left: 1rem;
  padding-right: 1rem;
}
.caption {
  padding: 0.8rem;
  text-align: center;
  opacity: 0.65;
}
footer {
  text-align: center;
  padding: 2rem 1rem;
  margin: auto;
  color: #333;
}
footer h3 {
  font-size: 1.7rem;
}

/* social */
.social-link {
  transition: all 1s ease-out;
  color: rgb(139, 139, 139);
  padding: 0 0.2rem;
}
.social-link:hover {
  color: #333333;
}

/* screen sizes 700px and up */
@media (min-width: 700px) {
  .btn {
    padding: 1rem 3rem;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.2rem;
  }
}

/* Screen sizes 500px and up */
@media (min-width: 500px) {
  .landing {
    display: flex;
  }
  .landing-text {
    width: 40vw;
  }
  #landing-image {
    width: 60vw;
  }
  .landing,
  .landing-text,
  #landing-image {
    height: 100vh;
  }
}
